<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OrderBOT</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="chat-header">
        <h3 class="text-center mb-0">צ'אט לדיני תעבורה</h3>
        <p class="text-center mb-0 small">
          <strong>עורך דין AI</strong><br />
          כל מה שרצית לדעת על דיני תעבורה בלחיצת כפתור
        </p>
      </div>

      <div class="chat-messages" id="conversation">
        {% for message in context %} {% if message.role == 'user' %}
        <div class="message message-user">{{ message.content }}</div>
        {% elif message.role == 'assistant' %}
        <div class="message message-assistant">{{ message.content }}</div>
        {% endif %} {% endfor %}
      </div>

      <div class="chat-input">
        <form method="POST" class="mb-0" id="chatForm">
          <div class="input-group">
            <div class="textarea-container">
              <textarea
                id="user_input"
                name="user_input"
                class="form-control"
                rows="1"
                placeholder="הקלד את השאלה שלך כאן..."
              ></textarea>
            </div>
            <div class="input-group-append">
              <button
                type="submit"
                name="action"
                value="Chat"
                class="btn btn-primary"
              >
                שלח
              </button>
              <button
                type="submit"
                name="action"
                value="Finish Order"
                class="btn btn-success"
              >
                סיים
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
